 /* 원두 3종 */
 $rbc-black: #000;
 $rbc-beige: #f7f7e8;
 $lh: 1.6em;
 $bold: 700;
 $medium: 500;


 // -----------------------------------------
 // 기본: 768 ~ 1440px

 .contents-holder {
   margin: 0 -1rem;

   .contents {
     width: calc(100% / 3 - 1rem);
     height: 30rem;

     .img-holder {
       width: 95.15%;
       height: 55%;
     }

     table {
       margin: 0 1.5rem;
     }

   }
 }


 // -----------------------------------------
 // wide screen option


 @media screen and (min-width: 1280px) {
   html {
     font-size: 1.4vw;
   }

   body {
     margin: 1.9rem 7.5rem;
   }

   .contents-holder {
     .contents {
       .img-holder {
         width: 90%;
       }
     }
   }
 }

 @media screen and (min-width: 1600px) {
   html {
     font-size: 1.2vw;
   }

   body {
     margin: 1.9rem 12rem;
   }
 }


 // -----------------------------------------
 //vertical screen option


 @media screen and (max-width: 768px) {

   .contents-holder {
     height: auto;

     .contents {
       width: 55vw;
       height: 31rem;
       margin: 0 auto 2.3rem;
       // 원두 간격

       .img-holder {
         //  margin: 0 auto;

         width: 72.2%;
         height: 60%;
       }

       table {
         margin: 0 2rem;
       }
     }
   }

 }



 //mobile 사이즈

 @media screen and (max-width: 450px) {

   //컨텐츠 max-width: 450px
   .contents-holder {
     .contents {
       width: 85vw;
       height: 28rem;

       .img-holder {
         width: 76%;
         height: 55%;
       }

       table {
         margin: 0 1.8rem;
       }
     }
   }
 }