@charset "UTF-8";
/* 원두 3종 */
.contents-holder {
  margin: 0 -2rem;
}
.contents-holder .contents {
  width: calc(33.3333333333% - 0.7rem);
  height: 26.5rem;
  font-size: 0.94rem;
}
.contents-holder .contents .img-holder {
  width: 95.15%;
  height: 53%;
}
.contents-holder .contents table {
  margin: 0 1.2rem;
}
.contents-holder .contents .Lh_short_2 {
  line-height: 1.3em;
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 1.4vw;
  }
  body {
    margin: 1.9rem 7.5rem;
  }
  .contents-holder .contents .img-holder {
    width: 90%;
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 1.2vw;
  }
  body {
    margin: 1.9rem 12rem;
  }
}
@media screen and (max-width: 768px) {
  .contents-holder {
    height: auto;
  }
  .contents-holder .contents {
    width: 55vw;
    height: 31rem;
    margin: 0 auto 2.3rem;
  }
  .contents-holder .contents .img-holder {
    width: 72.2%;
    height: 60%;
  }
  .contents-holder .contents table {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  .contents-holder .contents {
    width: 85vw;
    height: 28rem;
  }
  .contents-holder .contents .img-holder {
    width: 76%;
    height: 55%;
  }
  .contents-holder .contents table {
    margin: 0 1.8rem;
  }
}