//원두 봉투
//2023-08-05

section {
    display: flex;
    justify-content: space-between;

    height: 30rem;
}

.contents {
    width: calc(100% / 2 - 1rem);
    height: auto;

    display: flex;
    flex-direction: column;

    background-color: #FAFAF0;

    .img-holder {
        width: 100%;
        height: 60%;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
        }
    }

    table {
        color: #000;
        margin: 1.7rem 2.5rem;
    }

    th {
        line-height: 2.5em;
        text-align: left;
    }

    tr {
        &>:first-child {
            width: 3.5rem;
        }
    }
}

//팝업 페이지

.popup {
    display: none;
    overflow: auto;

    background-color: rgba($color: #000000, $alpha: 0.92);
    color: #FAFAF0;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    padding: 2.5rem 4rem;

    .pop-title {
        font-family: 'gt-ultra-median';

        width: 55%;
        margin: 0 auto;
        margin-bottom: 2rem;

        font-size: 2.7rem;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;

        p {
            margin-top: 1.5rem;
            font-size: 1rem;
        }
    }

    .pop-info {
        display: flex;

        &>:first-child {
            margin-right: 1rem;
        }

        &>:last-child {
            margin-left: 1rem;
        }

        .pop-coloumn {
            flex: 1;
            // background-color: aqua;
        }

        table {
            margin-bottom: 2rem;
            width: 100%;
            text-align: left;
        }

        td {
            vertical-align: top;

            &:nth-child(3) {
                width: 70%
            }
        }

        tr>:first-child {
            width: 5rem;
            padding-right: 1rem;
        }

    }

}

//세로형 스크린 반응형

@media screen and (max-width: 768px) {

    section {
        display: block;
        height: auto;


        .contents {
            width: 75vw;
            height: 28rem;
            margin: 0 auto 1.6rem;

            .img-holder {
                height: 63%;
            }

            table {
                margin: 1.3rem 2.2rem;
            }
        }
    }

    .popup {
        padding: 1.3rem 3rem;

        .pop-title {
            width: 75%;
            font-size: 2.7rem;

            p {
                margin: 1rem auto 3rem auto;
            }
        }

        .pop-info {
            display: block;

            &>:first-child,
            :last-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    .pop-coloumn {
        flex: none;
        // background-color: aqua;
    }
}

//mobile 사이즈

@media screen and (max-width: 450px) {
    .popup {
        font-size: 1.3rem;

        .pop-title {
            p {
                font-size: 1.3rem;
            }
        }
    }
}