section {
  display: flex;
  justify-content: space-between;
  height: 30.9rem;
}

.contents {
  width: calc(50% - 1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FAFAF0;
}
.contents .img-holder {
  width: 100%;
  height: 62%;
}
.contents .img-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
.contents table {
  height: 0;
  margin: 0 2.5rem;
  color: #000;
}
.contents th {
  line-height: 2.5em;
  text-align: left;
}
.contents tr > :first-child {
  width: 3.5rem;
}

.popup {
  display: none;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.92);
  color: #FAFAF0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 2.5rem 5rem;
}
.popup .pop-title {
  font-family: "GT-Ultra-Median-Regular";
  width: 55%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 2.7rem;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
.popup .pop-title p {
  margin-top: 1.5rem;
  font-size: 1rem;
}
.popup .pop-info {
  display: flex;
}
.popup .pop-info > :first-child {
  margin-right: 1rem;
}
.popup .pop-info > :last-child {
  margin-left: 1rem;
}
.popup .pop-info .pop-coloumn {
  flex: 1;
}
.popup .pop-info table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
}
.popup .pop-info td {
  vertical-align: top;
}
.popup .pop-info td:nth-child(3) {
  width: 70%;
}
.popup .pop-info tr > :first-child {
  width: 5rem;
  padding-right: 1rem;
}

@media screen and (max-width: 768px) {
  section {
    display: block;
    height: auto;
  }
  section .contents {
    width: 75vw;
    height: 29rem;
    margin: 0 auto 1.6rem;
  }
  section .contents .img-holder {
    height: 56%;
  }
  section .contents table {
    margin: 0 2.2rem;
  }
  section .contents table tr {
    line-height: 1.5em;
  }
  .popup {
    padding: 1.3rem 3rem;
  }
  .popup .pop-title {
    width: 75%;
    font-size: 2.7rem;
  }
  .popup .pop-title p {
    margin: 1rem auto 3rem auto;
  }
  .popup .pop-info {
    display: block;
  }
  .popup .pop-info > :first-child,
  .popup .pop-info :last-child {
    margin-right: 0;
    margin-left: 0;
  }
  .pop-coloumn {
    flex: none;
  }
}
@media screen and (max-width: 450px) {
  section .contents {
    width: 85vw;
    height: 34rem;
  }
  table tr {
    font-size: 1.3em;
  }
  .popup {
    font-size: 1.3rem;
  }
  .popup .pop-title p {
    font-size: 1.3rem;
  }
}