@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "GT-Ultra-Median-Regular";
  src: url(../source/GT-Ultra-Median-Regular.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../source/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-break: keep-all;
}

body::-webkit-scrollbar {
  width: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
  transition: all 0.1s linear;
  cursor: pointer;
}

html {
  font-size: 1.5vw;
}

body {
  background-color: #000;
  margin: 1.9rem 4rem;
  color: #f7f7e8;
  font-family: "OpenSans", "Spoqa Han Sans Neo";
}

table,
td,
tr {
  line-height: 1.6em;
  font-weight: 500;
  vertical-align: top;
}

header {
  font-family: "GT-Ultra-Median-Regular";
  font-size: 3.7rem;
  display: flex;
  justify-content: space-between;
}

.month {
  width: 15vw;
  height: auto;
}

.head-info {
  width: 15vw;
  font-size: 0.5em;
  text-align: right;
  text-transform: uppercase;
}
.head-info .map {
  width: 9rem;
  position: absolute;
  top: -0.4rem;
  right: -1.2rem;
}
.head-info p {
  display: none;
}

.writing {
  max-width: 70vw;
  margin: 2.3rem auto;
  text-align: center;
  line-height: 1.55em;
  font-weight: 500;
}

section {
  display: flex;
  justify-content: space-between;
  height: 30.9rem;
}

.contents {
  width: calc(50% - 1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7e8;
}
.contents .img-holder {
  width: 100%;
  height: 62%;
}
.contents .img-holder img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
.contents table {
  height: 0;
  margin: 0 2.5rem;
  color: #000;
}
.contents th {
  line-height: 2.5em;
  text-align: left;
}
.contents tr > :first-child {
  width: 3.5rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  font-size: 1.5rem;
  font-family: "Spoqa Han Sans Neo";
}
.footer .rights {
  font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 3.2vw;
  }
  body {
    margin: 1.2rem 1.2rem;
    overflow: auto;
  }
  header {
    flex-direction: column;
  }
  header > :nth-child(1) {
    text-align: center;
    order: 2;
  }
  header > :nth-child(2) {
    text-align: center;
    order: 1;
  }
  header > :nth-child(3) {
    text-align: center;
    order: 3;
  }
  header .head-info,
  header .month {
    width: 100%;
    margin-top: 2rem;
  }
  header .map {
    display: none;
  }
  header .head-info p {
    display: block;
  }
  .writing {
    font-weight: 500;
    max-width: 75vw;
    margin: 2.8rem auto;
  }
  section {
    display: block;
    height: auto;
  }
  section .contents {
    width: 75vw;
    height: 28rem;
    margin: 0 auto 1.6rem;
  }
  section .contents .img-holder {
    height: 54%;
  }
  section .contents table {
    margin: 0 2.2rem;
  }
  section .contents table tr {
    line-height: 1.5em;
  }
}
@media screen and (max-width: 450px) {
  .writing {
    font-size: 1.3rem;
    max-width: 90%;
  }
  .contents {
    height: 29.5rem;
  }
  table,
  td,
  tr {
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 500;
    vertical-align: top;
  }
}