//2023-08-08

@font-face {
    font-family: 'GT-Ultra-Median-Regular';
    src: url(../source/GT-Ultra-Median-Regular.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../source/OpenSans-VariableFont_wdth\,wght.ttf);
}

//spoqa hans
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    word-break: keep-all;
}

body::-webkit-scrollbar {
    width: 0;
    display: none;
    /* Chrome, Safari, Opera*/
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    //앵커태그 스타일 초기화
}

a:hover {
    opacity: 0.75;
    transition: all 0.1s linear;
    cursor: pointer;
}

html {
    font-size: 1.5vw;
    //1rem = html의 폰트 사이즈
}

body {
    background-color: #000;
    margin: 1.9rem 4rem;
    color: #f7f7e8;

    font-family: 'OpenSans', 'Spoqa Han Sans Neo';
}

table,
td,
tr {
    line-height: 1.6em;
    font-weight: 500;
    vertical-align: top;
}

//전체 설정 끝

//HEADER 헤더

header {
    font-family: 'GT-Ultra-Median-Regular';
    font-size: 3.7rem;

    display: flex;
    justify-content: space-between;
}

.month {
    width: 15vw;
    height: auto;
    //background-color: aqua;
}

.head-info {
    width: 15vw;
    font-size: .5em;
    text-align: right;
    text-transform: uppercase;

    .map {
        width: 9rem;
        position: absolute;
        top: -.4rem;
        right: -1.2rem
    }

    & p {
        display: none;
    }
}


// 설명 글

.writing {
    max-width: 70vw;
    margin: 2.3rem auto;

    text-align: center;
    line-height: 1.55em;
    font-weight: 500;
}

#text01 {
    font-weight: 300;
    text-decoration: underline;
}


//컨텐츠

section {
    display: flex;
    justify-content: space-between;

    height: 30.9rem;
}

.contents {
    width: calc(100% / 2 - 1rem);
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #f7f7e8;

    .img-holder {
        width: 100%;
        height: 62%;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: auto;
        }
    }

    table {
        height: floor($number: 0);
        // 두 개의 원두 table 높이가 맞춰지느라 짧은 쪽의 행간이 넓어지는 이슈 해결

        margin: 0 2.5rem;
        color: #000;

        th {
            line-height: 2.5em;
            text-align: left;
        }

        tr {
            &>:first-child {
                width: 3.5rem;
            }
        }
    }


}

//Footer Footer Footer
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4rem auto;
    font-size: 1.5rem;
    font-family: 'Spoqa Han Sans Neo';

    .rights {
        text-align: center;
        width: 85%;
        font-size: 0.95rem;
    }
}




//세로형 스크린 반응형

@media screen and (max-width: 768px) {
    html {
        font-size: 1.8vw;
        //1rem = html의 폰트 사이즈
    }

    body {
        margin: 2.5rem auto;
        overflow: auto;
    }

    //header max-width: 768px
    header {
        flex-direction: column;

        &>:nth-child(1) {
            text-align: center;
            order: 2;
        }

        &>:nth-child(2) {
            width: 52vw;
            justify-content: center;
            margin: auto;

            text-align: center;
            order: 1;
        }

        &>:nth-child(3) {
            text-align: center;
            order: 3;
        }

        .head-info,
        .month {
            width: 100%;
            margin-top: 2rem;
        }

        .map {
            display: none;
        }

        .head-info p {
            display: block;
        }
    }

    //전체 텍스트 max-width: 768px
    .writing {
        width: 52vw;
        margin: 2.8rem auto;
    }


    //컨텐츠
    section {
        display: block;
        height: auto;

        .contents {
            width: 52vw;
            height: 33rem;
            margin: 0 auto 2.3rem;

            .img-holder {
                width: 100%;
                height: 58%;
            }
        }

        table {
            margin: auto 2.2rem;

            tr {
                line-height: 1.5em;
            }
        }
    }

    .footer {
        font-size: 1.5rem;
        margin: 4rem 2.5rem;

        .rights {
            font-size: 1rem;
        }
    }
}


//mobile 사이즈

@media screen and (max-width: 450px) {

    html {
        font-size: 4vw;
    }

    body {
        margin: 2rem auto;
    }

    //header max-width: 450px
    header {
        font-size: 2.8rem;

        &>:nth-child(2) {
            width: 90vw;
        }

        .head-info,
        .month {
            margin-top: 1.6rem;
        }
    }

    .writing {
        width: 90vw;
        margin: 2.4rem auto 2.6rem;
    }

    //컨텐츠 max-width: 450px
    section {
        .contents {
            width: 90vw;
            height: 29rem;

            .img-holder {
                width: 100%;
                height: 54%;
            }
        }

        table {
            margin: auto 2rem;
        }
    }

    .footer {
        font-size: 1rem;
        margin: 4rem 1.5rem;

        .rights {
            font-size: .75rem;
        }
    }
}