@font-face {
    font-family: 'GT-Ultra-Median-Regular';
    src: url(../source/GT-Ultra-Median-Regular.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//spoqa hans
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);



$rbc-black: #000;
$rbc-beige: #f7f7e8;
$lh: 1.6em;
$bold: 600;
$medium: 400;


* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    word-break: keep-all;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

table,
td,
tr {
    vertical-align: top;
}


// -----------------------------------------
// 기본: 768 ~ 1440px


html {
    font-size: 1.6vw;
    //1rem = html의 폰트 사이즈
}

body {
    background-color: $rbc-black;
    color: $rbc-beige;
    margin: 1.9rem 4rem;

    font-family: 'Lato', 'Spoqa Han Sans Neo';
}


//HEADER 헤더

header {
    font-family: 'GT-Ultra-Median-Regular';
    font-size: 3.6rem;

    display: flex;
    justify-content: space-between;
}

.month {
    width: 16vw;
    height: auto;
    //background-color: aqua;
}

.head-info {
    width: 16vw;
    padding-top: .2em;

    font-size: .44em;
    line-height: 1.15em;
    text-align: right;
    text-transform: uppercase;

    .map {
        width: 9rem;
        position: absolute;
        top: -.4rem;
        right: -1.2rem
    }

    & p {
        display: none;
    }
}


// 설명 글
.writing {
    width: 70vw;
    margin: 2.3rem auto;

    text-align: center;
    line-height: $lh;
    font-weight: $medium;
}

.message {
    position: fixed;
    // width: 100vw;
    bottom: 3rem;
    left: 16.5%;
}

#readmore {
    font-weight: $medium;
    text-decoration: underline;
}


// Month 이동 버튼

.previousM {
    position: fixed;
    height: 100vh;
    z-index: 98;
    top: 48vh;
    left: 2.45rem;

    font-size: 3rem;
    font-weight: lighter;
    mix-blend-mode: difference;
}

.nextM {
    position: fixed;
    height: 100vh;
    z-index: 98;
    top: 48vh;
    right: 2.45rem;

    font-size: 3rem;
    font-weight: lighter;
    mix-blend-mode: difference;
}




//컨텐츠 컨텐츠

.contents-holder {
    display: flex;
    justify-content: space-between;
    padding: 0 7.5vw;

    .contents {
        width: calc(100% / 2 - 0.7rem);
        height: 26.5rem;
        // 원두 높이 원두 높이

        background-color: $rbc-beige;
        display: flex;
        flex-direction: column;

        .img-holder {
            margin: 0 auto;

            width: 90%;
            height: 58.4%;

            img {
                top: 0;
                width: 100%;
                height: auto;
            }
        }

        // 클릭 버튼
        #coffee01,
        #coffee02 {
            z-index: 100;
            position: absolute;
            width: 100%;
            height: 50%;
        }

        table {
            height: floor($number: 0);
            // 두 개의 원두 table 높이가 맞춰지느라 짧은 쪽의 행간이 넓어지는 이슈
            color: $rbc-black;
            font-weight: $medium;

            margin: 0 2rem;

            th {
                font-weight: $bold;
                text-align: left;
                padding-bottom: .5em;
            }

            td,
            tr {
                line-height: 1.25em;
                padding-bottom: 0.35em;
            }

            tr {
                &>:first-child {
                    width: 3.5rem;
                }
            }
        }

        .table {
            margin: 0 2rem;
            color: $rbc-black;

            .th {
                padding-bottom: .5em;
            }

            p {
                line-height: $lh;
            }
        }
    }
}


//Footer Footer Footer
.footer {
    position: relative;
    margin: 1.5rem auto;
    width: 100%;

    text-align: center;
    font-size: .8rem;
    color: $rbc-beige;
    opacity: .6;
}



// -----------------------------------------
// wide screen option


@media screen and (min-width: 1280px) {
    html {
        font-size: 1.4vw;
    }

    body {
        margin: 1.9rem 7.5rem;
    }

    .contents-holder {
        .contents {
            .img-holder {
                width: 80%;
            }
        }
    }

}

@media screen and (min-width: 1600px) {
    html {
        font-size: 1.2vw;
    }

    body {
        margin: 1.9rem 12rem;
    }
}


// -----------------------------------------
//vertical screen option


@media screen and (max-width: 768px) {

    html {
        font-size: 2.2vw;
        //1rem = html의 폰트 사이즈
    }

    body {
        margin: 2.5rem auto;
        overflow: auto;
    }

    //header max-width: 768px
    header {
        flex-direction: column;

        &>:nth-child(1) {
            text-align: center;
            order: 2;
        }

        &>:nth-child(2) {
            width: 52vw;
            justify-content: center;
            margin: auto;

            text-align: center;
            order: 1;
        }

        &>:nth-child(3) {
            padding-top: 0;

            text-align: center;
            order: 3;

            font-size: .7em;
        }

        .head-info,
        .month {
            width: 100%;
            margin-top: 2rem;
        }

        .map {
            display: none;
        }

        .head-info p {
            display: block;
        }
    }

    //전체 텍스트 max-width: 768px
    .writing {
        width: 85vw;
        margin: 2.8rem auto;
    }


    //컨텐츠  max-width: 768px
    .contents-holder {
        display: block;
        height: auto;

        .contents {
            width: 55vw;
            height: auto;
            margin: 0 auto 2.3rem;
            // 원두 간격
            padding-bottom: 2.5rem;
            // 원두 안의 여유 간격

            .img-holder {
                width: 95%;
                height: 60%;

                img {
                    top: -0.03rem;
                }
            }

            table {
                margin: 0 2rem;

                th {
                    padding-bottom: .75em;
                }

                td,
                tr {
                    padding-bottom: 0.4em;
                }
            }

            .table {
                margin: 0 2rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    .footer {
        position: relative;
        margin: 4rem 0 0;
    }
}


//mobile 사이즈

@media screen and (max-width: 450px) {

    html {
        font-size: 4.25vw;
    }

    body {
        margin: 2rem auto;
    }

    //header max-width: 450px
    header {
        font-size: 2.8rem;

        &>:nth-child(2) {
            width: 88vw;
        }

        .head-info,
        .month {
            margin-top: 1.6rem;
        }
    }

    .writing {
        width: 92vw;
        margin: 2.4rem auto 2.6rem;
    }

    .previousM {
        left: 1.4rem;
    }

    .nextM {
        right: 1.4rem;
    }

    //컨텐츠 max-width: 450px
    .contents-holder {
        .contents {
            width: 85vw;
            height: auto;
            padding-bottom: 1.6rem;

            .img-holder {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            table {
                margin: 0 1.35rem;
                font-size: 1.05em;

                td,
                tr {
                    padding-bottom: 0.5em;
                }
            }

            .table {
                margin: 0 1.35rem;
                padding-bottom: 1.4rem;
            }
        }
    }
}