.writing {
  max-width: 70vw;
  margin: 2.3rem auto;
  line-height: 1.6em;
  text-align: center;
  font-weight: 400;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section a {
  font-family: "GT-Ultra-Median-Regular";
  font-size: 7rem;
  text-align: center;
  margin: 3rem;
}

.footer {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #f7f7e8;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .writing {
    width: 65vw;
    margin: 2.8rem auto;
  }
  section {
    width: 65vw;
    margin: auto;
  }
  section a {
    font-size: 6rem;
    margin: 2rem 3rem;
  }
}
@media screen and (max-width: 450px) {
  .writing {
    width: 96vw;
    margin: 2.4rem auto;
  }
  section {
    width: 100vw;
  }
  section a {
    font-size: 4.25rem;
    margin: 1.5rem 2rem;
  }
}