@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "gt-ultra-median";
  src: url(/source/GT-Ultra-Median-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "open-sans";
  src: url(/source/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-break: keep-all;
}

body::-webkit-scrollbar {
  width: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
  transition: all 0.1s linear;
  cursor: pointer;
}

html {
  font-size: 1.5vw;
}

table,
td {
  font-weight: 400;
  line-height: 1.6em;
}

body {
  background-color: #000;
  margin: 1.9rem 4rem;
  color: #FAFAF0;
  font-family: "open-sans", "Spoqa Han Sans Neo";
}

body {
  background-color: #000;
  margin: 1.9rem 4rem;
  color: #FAFAF0;
}

header {
  font-family: "gt-ultra-median";
  font-size: 3.7rem;
  vertical-align: top;
}
header .rbc-title {
  width: 100%;
  height: auto;
  display: flex;
}
header .rbc-title a {
  text-align: center;
  margin: 0 auto;
}

p {
  line-height: 1.45em;
  text-align: center;
  max-width: 70vw;
  margin: 2.2rem auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section a {
  font-family: "gt-ultra-median";
  font-size: 7rem;
  text-align: center;
  margin: 3rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 3vw;
  }
  body {
    margin: 1.2rem 1.2rem;
  }
  header .rbc-title a {
    width: 50%;
    font-size: 2.7rem;
  }
  p {
    max-width: 75vw;
  }
  section a {
    font-size: 6rem;
    margin: 2rem 3rem;
  }
}
@media screen and (max-width: 450px) {
  p {
    font-size: 1.3rem;
    max-width: 100%;
  }
}