$rbc-black: #000;
$rbc-beige: #f7f7e8;
$lh: 1.6em;
$bold: 600;
$medium: 400;


.writing {
    max-width: 70vw;
    margin: 2.3rem auto;

    line-height: $lh;
    text-align: center;
    font-weight: $medium;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        font-family: 'GT-Ultra-Median-Regular';
        font-size: 7rem;
        text-align: center;

        margin: 3rem;
    }
}

//Footer Footer Footer
.footer {
    position: fixed;
    bottom: 1.5rem;
    left: 0;
    width: 100%;

    text-align: center;
    font-size: .8rem;
    color: $rbc-beige;
    opacity: .6;
}




// -----------------------------------------
//vertical screen option


@media screen and (max-width: 768px) {
    //전체 기본 텍스트 max-width: 768px

    .writing {
        width: 65vw;
        margin: 2.8rem auto;
    }

    section {
        width: 65vw;
        margin: auto;

        a {
            font-size: 6rem;
            margin: 2rem 3rem;
        }
    }

}

@media screen and (max-width: 450px) {



    .writing {
        width: 96vw;
        margin: 2.4rem auto;
    }

    section {
        width: 100vw;

        a {
            font-size: 4.25rem;
            margin: 1.5rem 2rem;
        }
    }
}