@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: "GT-Ultra-Median-Regular";
  src: url(../source/GT-Ultra-Median-Regular.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url(../source/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-break: keep-all;
}

body::-webkit-scrollbar {
  width: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
  transition: all 0.1s linear;
  cursor: pointer;
}

html {
  font-size: 1.5vw;
}

body {
  background-color: #000;
  margin: 1.9rem 4rem;
  color: #f7f7e8;
  font-family: "OpenSans", "Spoqa Han Sans Neo";
}

.writing {
  line-height: 1.55em;
  text-align: center;
  font-weight: 500;
  max-width: 70vw;
  margin: 2.2rem auto;
}

table,
td {
  font-weight: 500;
  line-height: 1.55em;
}

header {
  display: flex;
  font-family: "GT-Ultra-Median-Regular";
  font-size: 3.7rem;
}
header a {
  margin: 0 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section a {
  font-family: "GT-Ultra-Median-Regular";
  font-size: 7rem;
  text-align: center;
  margin: 3rem;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  font-family: "Spoqa Han Sans Neo";
}
.footer .rights {
  font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 3.2vw;
  }
  body {
    margin: 1.2rem 1.2rem;
  }
  header a {
    text-align: center;
  }
  .writing {
    max-width: 75vw;
  }
  section a {
    font-size: 6rem;
    margin: 2rem 3rem;
  }
}
@media screen and (max-width: 450px) {
  .writing {
    font-size: 1.3rem;
    max-width: 100%;
  }
  .rights {
    font-size: 1.1em;
  }
}