//팝업 페이지


$rbc-black: #000;
$rbc-beige: #f7f7e8;
$lh: 1.6em;
$bold: 600;
$medium: 400;



a {
    cursor: pointer;
}

.popup {
    display: none;
    overflow: auto;

    background-color: $rbc-black;
    color: $rbc-beige;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    padding: 1.9rem 4rem;




    //원두 정보 페이지

    .pop-title {
        font-family: 'GT-Ultra-Median-Regular', 'Spoqa Han Sans Neo';

        width: 50vw;
        margin: 0 auto;
        margin-bottom: 5rem;

        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;

        p {
            font-size: 1rem;
            font-weight: $medium;

            margin-top: 1.5rem;
        }
    }

    #writing_popup {
        width: 52vw;
        line-height: 1.7em;
        margin-top: 5em;
    }



    .pop-info {
        display: flex;

        &>:first-child {
            margin-right: 1rem;
        }

        &>:last-child {
            margin-left: 1rem;
        }

        .pop-coloumn {
            flex: 1;
            // background-color: aqua;
        }

        table {
            margin: 0 0 2.5rem 0;
            width: 100%;
            text-align: left;
        }

        td {
            vertical-align: top;

            &:nth-child(1) {
                width: 20%;
                // background-color: darkorange;
            }

            &:nth-child(2) {
                padding: 0 .5em;
                // background-color: rgb(126, 126, 0);
            }

            &:nth-child(3) {
                flex: 1;
                // background-color: rgb(0, 24, 104);
            }
        }
    }

}


//세로형 스크린 반응형

@media screen and (max-width: 768px) {


    .popup {
        padding: 2.5rem 0;

        .pop-title {
            width: 52vw;

            font-size: 3.6rem;

            & p {
                margin: 2.8rem auto 6rem auto;
            }
        }

        #writing_popup {
            width: 54vw;
            line-height: 1.8em;
            margin-top: 5em;
        }


        .pop-info {
            display: block;
            width: 54vw;
            margin: auto;
            justify-content: left;

            &>:first-child,
            :last-child {
                margin-right: 0;
                margin-left: 0;
            }

            td {
                &:nth-child(2) {
                    padding: 0 1em;
                    //    background-color: rgb(126, 126, 0);
                }
            }
        }

        .pop-coloumn {
            flex: none;
            // background-color: aqua;
        }
    }
}

//mobile 사이즈

@media screen and (max-width: 450px) {
    .writing {
        line-height: 1.65em;
    }

    .popup {
        padding: 2rem 0;
        padding-bottom: 12rem;

        .pop-title {
            width: 90vw;
            font-size: 2.8rem;

            & p {
                margin: 2.2rem auto 5rem auto;
            }
        }

        #writing_popup {
            width: 88vw;
            line-height: 1.8em;
            margin-top: 2.3em;
        }

        .pop-info {
            width: 80vw;

            td {
                &:nth-child(1) {
                    width: 25%;
                    // background-color: darkorange;
                }

                &:nth-child(2) {
                    padding: 0 .7em;
                    //    background-color: rgb(126, 126, 0);
                }
            }
        }
    }
}