.popup {
  display: none;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.92);
  color: #FAFAF0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 2.5rem 5rem;
}
.popup .pop-title {
  font-family: "GT-Ultra-Median-Regular";
  width: 65%;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.popup .pop-title p {
  font-weight: 500;
  margin-top: 1.5rem;
  font-size: 1rem;
}
.popup .pop-info {
  display: flex;
}
.popup .pop-info > :first-child {
  margin-right: 1rem;
}
.popup .pop-info > :last-child {
  margin-left: 1rem;
}
.popup .pop-info .pop-coloumn {
  flex: 1;
}
.popup .pop-info table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
}
.popup .pop-info td {
  vertical-align: top;
}
.popup .pop-info td:nth-child(1) {
  width: 5rem;
  padding-right: 2em;
}
.popup .pop-info td:nth-child(3) {
  width: 68%;
}

#coffee01,
#coffeeInfo01 {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup {
    padding: 1.3rem 3rem;
  }
  .popup .pop-title {
    width: 100%;
    font-size: 3.7rem;
  }
  .popup .pop-title p {
    margin: 2.8rem auto 3rem auto;
  }
  .popup .pop-info {
    display: block;
  }
  .popup .pop-info > :first-child,
  .popup .pop-info :last-child {
    margin-right: 0;
    margin-left: 0;
  }
  .pop-coloumn {
    flex: none;
  }
}
@media screen and (max-width: 450px) {
  section .contents {
    width: 85vw;
    height: 34rem;
  }
  .popup {
    font-size: 1.3rem;
  }
  .popup .pop-title p {
    font-size: 1.3rem;
  }
  .popup .pop-info td:nth-child(1) {
    width: 5.5rem;
    padding-right: 1em;
  }
  .popup .pop-info td:nth-child(3) {
    width: 67%;
    padding-left: 0.7em;
  }
}