a {
  cursor: pointer;
}

.popup {
  display: none;
  overflow: auto;
  background-color: #000;
  color: #f7f7e8;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 1.9rem 4rem;
}
.popup .pop-title {
  font-family: "GT-Ultra-Median-Regular", "Spoqa Han Sans Neo";
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}
.popup .pop-title p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.popup #writing_popup {
  width: 52vw;
  line-height: 1.7em;
  margin-top: 5em;
}
.popup .pop-info {
  display: flex;
}
.popup .pop-info > :first-child {
  margin-right: 1rem;
}
.popup .pop-info > :last-child {
  margin-left: 1rem;
}
.popup .pop-info .pop-coloumn {
  flex: 1;
}
.popup .pop-info table {
  margin: 0 0 2.5rem 0;
  width: 100%;
  text-align: left;
}
.popup .pop-info td {
  vertical-align: top;
}
.popup .pop-info td:nth-child(1) {
  width: 20%;
}
.popup .pop-info td:nth-child(2) {
  padding: 0 0.5em;
}
.popup .pop-info td:nth-child(3) {
  flex: 1;
}

@media screen and (min-width: 1280px) {
  .popup {
    padding: 1.9rem 7.5rem;
  }
}
@media screen and (min-width: 1600px) {
  .popup {
    padding: 1.9rem 12rem;
  }
}
@media screen and (max-width: 768px) {
  .popup {
    padding: 2.5rem 0;
  }
  .popup .pop-title {
    width: 52vw;
    font-size: 3.6rem;
  }
  .popup .pop-title p {
    margin: 2.8rem auto 6rem auto;
  }
  .popup #writing_popup {
    width: 54vw;
    line-height: 1.8em;
    margin-top: 5em;
  }
  .popup .pop-info {
    display: block;
    width: 54vw;
    margin: auto;
    justify-content: left;
  }
  .popup .pop-info > :first-child,
  .popup .pop-info :last-child {
    margin-right: 0;
    margin-left: 0;
  }
  .popup .pop-info td:nth-child(1) {
    padding-right: 0.5em;
  }
  .popup .pop-info td:nth-child(2) {
    padding: 0 1em;
  }
  .popup .pop-coloumn {
    flex: none;
  }
}
@media screen and (max-width: 450px) {
  .writing {
    line-height: 1.65em;
  }
  .popup {
    padding: 2rem 0;
    padding-bottom: 12rem;
  }
  .popup .pop-title {
    width: 90vw;
    font-size: 2.8rem;
  }
  .popup .pop-title p {
    margin: 2.2rem auto 5rem auto;
  }
  .popup #writing_popup {
    width: 88vw;
    line-height: 1.8em;
    margin-top: 2.3em;
  }
  .popup .pop-info {
    width: 88vw;
  }
  .popup .pop-info td:nth-child(1) {
    width: 23%;
  }
  .popup .pop-info td:nth-child(2) {
    padding: 0 0.7em;
  }
}