//팝업 페이지
//2023-08-10


.popup {
    display: none;
    overflow: auto;

    background-color: rgba($color: #000000, $alpha: 0.92);
    color: #FAFAF0;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    padding: 2.5rem 5rem;

    .pop-title {
        font-family: 'GT-Ultra-Median-Regular';

        width: 55%;
        margin: 0 auto;
        margin-bottom: 3rem;

        font-size: 2.7rem;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;

        p {
            margin-top: 1.5rem;
            font-size: 1rem;
        }
    }

    .pop-info {
        display: flex;

        &>:first-child {
            margin-right: 1rem;
        }

        &>:last-child {
            margin-left: 1rem;
        }

        .pop-coloumn {
            flex: 1;
            // background-color: aqua;
        }

        table {
            margin-bottom: 2rem;
            width: 100%;
            text-align: left;
        }

        td {
            vertical-align: top;

            &:nth-child(3) {
                width: 70%
            }
        }

        tr>:first-child {
            width: 5rem;
            padding-right: 1rem;
        }

    }

}

#coffee01,
#coffeeInfo01 {
    cursor: pointer;
}


//세로형 스크린 반응형

@media screen and (max-width: 768px) {

    .popup {
        padding: 1.3rem 3rem;

        .pop-title {
            width: 75%;
            font-size: 2.7rem;

            p {
                margin: 1rem auto 3rem auto;
            }
        }

        .pop-info {
            display: block;

            &>:first-child,
            :last-child {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }

    .pop-coloumn {
        flex: none;
        // background-color: aqua;
    }
}

//mobile 사이즈

@media screen and (max-width: 450px) {

    section {
        .contents {
            width: 85vw;
            height: 34rem;
        }
    }

    table {
        tr {
            font-size: 1.3em;
        }
    }


    .popup {
        font-size: 1.3rem;

        .pop-title {
            p {
                font-size: 1.3rem;
            }
        }
    }
}