/* 원두 3종 */
$rbc-black: #000;
$rbc-beige: #f7f7e8;
$lh: 1.6em;
$bold: 600;
$medium: 400;


// -----------------------------------------
// 기본: 768 ~ 1440px


.container {
  .contents-holder {
    padding: 0;

    .contents {
      width: calc(100% / 3);
      height: 27.5rem;
      // 원두 높이 원두 높이


      font-size: .85rem;

      .front,
      .back {
        table {
          width: 17.8em;
          margin: 0 1.3rem;

          tr {
            td {
              p {
                line-height: calc($lh * 1.02);
              }
            }
          }
        }
      }
    }
  }
}