$rbc-black: #000;
$rbc-beige: #f7f7e8;
$lh: 1.6em;
$bold: 600;
$medium: 400;



.month {
    width: 16vw;
    height: auto;
    //background-color: aqua;
}

.head-info {
    width: 16vw;
    padding-top: .2em;

    font-size: .44em;
    line-height: 1.15em;
    text-align: right;
    text-transform: uppercase;

    .map {
        width: 9rem;
        position: absolute;
        top: -.4rem;
        right: -1.2rem
    }

    & p {
        display: none;
    }
}


// Month 이동 버튼

.previousM {
    position: fixed;
    height: 100vh;
    z-index: 98;
    top: 48vh;
    left: 2.45rem;

    font-size: 3rem;
    font-weight: lighter;
    mix-blend-mode: difference;
}

.nextM {
    position: fixed;
    height: 100vh;
    z-index: 98;
    top: 48vh;
    right: 2.45rem;

    font-size: 3rem;
    font-weight: lighter;
    mix-blend-mode: difference;
}


.container {

    // 설명 글
    .writing {
        width: 60vw;
        margin: 2.3rem auto;

        text-align: center;
        line-height: $lh;
        font-weight: $medium;
    }

    #toggle-button {
        background: none;
        /* 배경 제거 */
        border: none;
        /* 테두리 제거 */
        cursor: pointer;
        /* 마우스 포인터를 가리키는 손 모양으로 변경 */
        color: #ff3700;
        font-size: .8em;
        /* 밑줄 추가 */
        margin-bottom: 1.5em;
        margin-top: 1em;

        &:hover {
            opacity: 0.5;
        }
    }

    .message {
        position: fixed;
        // width: 100vw;
        bottom: 3rem;
        left: 16.5%;
    }




    // /컨텐츠 컨텐츠
    .contents-holder {
        display: flex;
        justify-content: space-between;
        padding: 0 7vw;
        gap: 1rem;

        .contents {
            width: calc(100% / 2 - 0.7rem);
            height: 27rem;
            // 원두 높이 원두 높이

            background-color: $rbc-beige;
            display: flex;
            flex-direction: column;

            // FLIP 효과  FLIP 효과
            transition: transform 0.6s ease-in-out;
            transform-style: preserve-3d;
            perspective: 1000px;

            .front,
            .back {
                backface-visibility: hidden;

                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                .img-holder {
                    margin: 0 auto;

                    width: 90%;
                    height: 58.4%;

                    img {
                        top: 0;
                        width: 100%;
                        height: auto;
                    }
                }

                table {
                    width: 19em;
                    height: floor($number: 0);
                    // 두 개의 원두 table 높이가 맞춰지느라 짧은 쪽의 행간이 넓어지는 이슈
                    margin: 0 2rem;

                    color: $rbc-black;
                    font-weight: $medium;

                    th {
                        font-weight: $bold;
                        text-align: left;
                        padding-bottom: .5em;
                    }

                    td,
                    tr {
                        line-height: 1.25em;
                        padding-bottom: 0.35em;

                        p {
                            line-height: 1.5em;
                        }
                    }

                    tr {
                        &>:first-child {
                            width: 3.5rem;
                        }
                    }
                }

            }

            .back {
                transform: rotateY(180deg);
            }


            &.flipped {
                transform: rotateY(180deg);
            }


            // 클릭 버튼
            #coffee01,
            #coffee02 {
                z-index: 100;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}






// -----------------------------------------
//vertical screen option


@media screen and (max-width: 768px) {


    .container {

        //전체 텍스트 max-width: 768px
        .writing {
            width: 82vw;
            margin: 2.8rem auto;
        }

        .previousM {
            left: 1rem;
        }

        .nextM {
            right: 1rem;
        }


        //컨텐츠  max-width: 768px
        .contents-holder {
            display: block;
            height: auto;
            padding: 0;

            .contents {
                width: 88vw;
                min-height: 120vw;
                margin: 0 auto 1.5rem;
                // 원두 간격
                padding-bottom: 1.25rem;
                // 원두 안의 여유 간격

                .front,
                .back {
                    .img-holder {
                        width: 100%;
                        height: auto;
                        margin-bottom: 1.25em;

                        img {
                            top: -0.03rem;
                        }
                    }

                    table {
                        width: 17em;
                        margin: 0 2rem;

                        th {
                            padding-bottom: .75em;
                        }

                        td,
                        tr {
                            padding-bottom: 0.4em;
                        }
                    }
                }
            }
        }
    }

}